{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{{ debug(theme_config) }}

{% if theme_config.source_option == "local" %}
	{% set m_css_source = 'theme://css/materialize.css' %}
	{% set f_css_source = 'theme://css/font-awesome.css' %}
	{% set m_js_source = 'theme://js/materialize.js' %}

{% elseif theme_config.source_option == "local-min" %}
	{% set m_css_source = 'theme://css/materialize.min.css' %}
	{% set f_css_source = 'theme://css/font-awesome.min.css' %}
	{% set m_js_source = 'theme://js/materialize.min.js' %}

{% elseif theme_config.source_option == "cdn" %}
	{% set m_css_source = 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css' %}
	{% set f_css_source = 'theme://css/font-awesome.min.css' %}
	{% set m_js_source = 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
	<meta charset="utf-8" />
	<title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	{% include 'partials/metadata.html.twig' %}

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="icon" type="image/png" href="{{ url('user://pages/images/logo.png') }}" />
	<link rel="canonical" href="{{ page.url(true, true) }}" />

	{% block stylesheets %}
		{% do assets.addCss(m_css_source, 100) %}
		{% do assets.addCss('theme://css/custom.css', 99) %}
		{% do assets.addCss(f_css_source, 98) %}
	{% endblock %}
	{{ assets.css() }}

	{% block javascripts %}
		{% do assets.addJs('jquery', 100) %}
		{% do assets.addJs(m_js_source, 99) %}
		{% do assets.addJs('theme://js/site.js', 98) %}
	{% endblock %}
	{{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
	{% include 'partials/navigation.html.twig' %}
{% endblock %}

{% block body %}
<div class="container page z-depth-5">
	{% block content %}{% endblock %}
</div>
	{{ assets.js('content') }}
	{{ assets.css('content') }}
{% endblock %}

{% block footer %}
	
{% endblock %}

{% block bottom %}
	{{ assets.js('bottom') }}
{% endblock %}

</body>
