{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
	<meta charset="utf-8" />
	<title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	{% include 'partials/metadata.html.twig' %}

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
	<link rel="canonical" href="{{ page.url(true, true) }}" />

	{% block stylesheets %}
		{% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css', 100) %}
		{% do assets.addCss('theme://css/custom.css', 99) %}
		{% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 98) %}
	{% endblock %}
	{{ assets.css() }}

	{% block javascripts %}
		{% do assets.addJs('jquery', 100) %}
		{% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js', 99) %}
		{% do assets.addJs('theme://js/site.js', 98) %}
	{% endblock %}
	{{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
	{% include 'partials/navigation.html.twig' %}
{% endblock %}

{% block body %}
<div class="container page z-depth-5">
	{% block content %}{% endblock %}
</div>
	{{ assets.js('content') }}
	{{ assets.css('content') }}
{% endblock %}

{% block footer %}

{% endblock %}

{% block bottom %}
	{{ assets.js('bottom') }}
{% endblock %}

</body>
