<nav class="purple darken-2" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{ site.title }}</a>
		<ul class="right hide-on-med-and-down">
			{% for page in pages.children %}
				{% if page.visible %}
					{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}          
					{% if page.header.access == false or authorize(page.header.access|keys) %}
						<li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>

		<ul id="nav-mobile" class="side-nav">
			{% for page in pages.children %}
				{% if page.visible %}
					{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}          
					{% if page.header.access == false or authorize(page.header.access|keys) %}
						<li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>